# Explanation of Script 

The dataset "Electric_Vehicle_Title_and_Registration_Activity.csv" has been investigated and later cleaned.

The cleaned file can be found in the data/out path.

**Cleaning/Transformation operations**

**(1.** Filtering data:
- Vehicle primary use limited to Passenger and Truck
- State of Residence = 'WA'
- Transaction Type = Original Title' or 'Transfer Title'
- Subsetting dataset to only include transactions that have a sales price (=! 0)

**(2.** Dropping columns

**(3.** Altering string columns
- 'City' column
- 'Make' column

**(4.** Sorting data


**(5.** Changing dtype of columns:
- 'Sale Date'
- 'DOL Transaction Date'

**(6.** Adding new columns:
- manufacturerCountry (str)
- americanOrForeign (boolean)

# Load relevant packages

In [54]:
import pandas as pd
import numpy as np

# Read .csv file

In [55]:
df = pd.read_csv('data/in/Electric_Vehicle_Title_and_Registration_Activity.csv')

# 1) Investigate file 
Looking at certain columns to get an understanding of the dataset

### 'Transaction Type' column

We found that the dataset contains both "[...] (transactions recording changes of ownership) [...] and (transactions authorizing vehicles to be used on Washington public roads)."(Electric Vehicle Title and Registration Activity, 2022)

This is seen in the 'Transaction Type' column that contains the different values that can be seen in the next code cell.

By looking into the data we find that the transactions data is represented by the 'Title' data values, and the registration data is represented as the 'Registration' data values.

In the following investigation of the dataset different Transaction Type values will be used, to give the best explanation of the dataset.

In [56]:
df['Transaction Type'].unique()

array(['Original Registration', 'Original Title', 'Registration Renewal',
       'Transfer Title', 'Registration at time of Transfer'], dtype=object)

In [57]:
print(f'There is {len(df.columns)} different columns in the dataset.')

There is 32 different columns in the dataset.

In [58]:
df.columns

Index(['Clean Alternative Fuel Vehicle Type', 'VIN (1-10)', 'Model Year',
       'Make', 'Model', 'New or Used Vehicle', 'Sale Price',
       'DOL Transaction Date', 'Transaction Type', 'Transaction Year',
       'Electric Vehicle Fee Paid', 'County', 'City', 'Postal Code',
       'Electric Range', 'Base MSRP', '2015 HB 2778 Exemption Eligibility',
       'Sale Date', 'Vehicle Primary Use', 'State of Residence',
       'DOL Vehicle ID', 'Legislative District',
       '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility',
       'Meets 2019 HB 2042 Electric Range Requirement',
       'Meets 2019 HB 2042 Sale Date Requirement',
       'Meets 2019 HB 2042 Sale Price/Value Requirement', 'Odometer Reading',
       'Odometer Code', 'Transportation Electrification Fee Paid',
       'Hybrid Vehicle Electrification Fee Paid', '2020 Census Tract',
       'Electric Utility'],
      dtype='object')

In [59]:
df.head(3)

,Clean Alternative Fuel Vehicle Type,VIN (1-10),Model Year,Make,Model,New or Used Vehicle,Sale Price,DOL Transaction Date,Transaction Type,Transaction Year,...,2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility,Meets 2019 HB 2042 Electric Range Requirement,Meets 2019 HB 2042 Sale Date Requirement,Meets 2019 HB 2042 Sale Price/Value Requirement,Odometer Reading,Odometer Code,Transportation Electrification Fee Paid,Hybrid Vehicle Electrification Fee Paid,2020 Census Tract,Electric Utility
0,Battery Electric Vehicle (BEV),7FCTGAAA8N,2022,RIVIAN,R1T,New,0,August 16 2022,Original Registration,2022,...,ERROR: No battery range; TRANSACTION NOT ELIGI...,False,False,False,0,Odometer reading is not collected at time of r...,No,No,5.303300e+10,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
1,Battery Electric Vehicle (BEV),5YJ3E1EBXN,2022,TESLA,Model 3,New,70440,October 11 2022,Original Title,2022,...,ERROR: No battery range; TRANSACTION NOT ELIGI...,False,True,False,15,Actual Mileage,Not Applicable,Not Applicable,5.303300e+10,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
2,Battery Electric Vehicle (BEV),5YJ3E1EBXN,2022,TESLA,Model 3,New,0,October 11 2022,Original Registration,2022,...,ERROR: No battery range; TRANSACTION NOT ELIGI...,False,False,False,0,Odometer reading is not collected at time of r...,No,No,5.303300e+10,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)

### 'Clean Alternative Fuel Vehicle Type' column
* We find that most of the cars which has been registered within the time period of the dataset can be identified as 'Battery Electric Vehicle (BEV)'

In [60]:
df[df['Transaction Type'] == 'Original Registration']['Clean Alternative Fuel Vehicle Type'].value_counts()

Battery Electric Vehicle (BEV)            104805
Plug-in Hybrid Electric Vehicle (PHEV)     33375
Hydrogen Powered Vehicle                       1
Name: Clean Alternative Fuel Vehicle Type, dtype: int64

### 'Make' column
We also find that the dataset contains 37 different car manufactures

In [61]:
print(df['Make'].unique(), df['Make'].nunique())

['RIVIAN' 'TESLA' 'CHEVROLET' 'TOYOTA' 'BMW' 'KIA' 'VOLKSWAGEN' 'NISSAN'
 'AUDI' 'LUCID MOTORS' 'FORD' 'HONDA' 'MITSUBISHI' 'VOLVO' 'MERCEDES-BENZ'
 'CHRYSLER' 'PORSCHE' 'HYUNDAI' 'JEEP' 'CADILLAC' 'MINI' 'FIAT'
 'LAND ROVER' 'LINCOLN' 'POLESTAR' 'SMART' 'JAGUAR' 'FISKER' 'LEXUS'
 'GENESIS' 'SUBARU' 'BUBBLE BUDDY' 'AZURE DYNAMICS' 'TH!NK' 'BENTLEY'
 'DODGE' 'PLYMOUTH'] 37

### 'DOL Vehicle ID' column
We find 139k unique cars, which means that each car in average is represented 4.5 in the time period of the dataset.

In [62]:
print(f'There is a number of {df["DOL Vehicle ID"].nunique()} unique cars and a sum of {len(df)} number of records that relates to either a registration or a transfer.')

There is a number of 139470 unique cars and a sum of 633874 number of records that relates to either a registration or a transfer.

### 'Base MSRP' column
94% of the records does not have data on 'Base MSRP' - retail price.
This should be seen in the context that all different 'Transactions type' values have a non-zero value in'Base MSRP', therefore this column will not be used while it does not contain a lot of data.

In [63]:
len(df[df['Base MSRP'] == 0]) / len(df)

0.9433594058125117

In [64]:
df[df['Base MSRP'] != 0]['Transaction Type'].value_counts()

Registration Renewal                20744
Original Registration                5268
Original Title                       5250
Transfer Title                       2392
Registration at time of Transfer     2249
Name: Transaction Type, dtype: int64

### 'Sale Price' column
The tendency with zero-values from above is not seen in the 'Sale Price' column. Here we find that 78% of the records which have the Transaction Type 'Original Title' or 'Transfer Title' has a 'Sale Price'.

In [65]:
records_with_sales_price = df[df['Sale Price'] != 0]['Transaction Type'].copy().value_counts()
records_with_sales_price

Original Title    107651
Transfer Title     25435
Name: Transaction Type, dtype: int64

In [66]:
(records_with_sales_price[0] + records_with_sales_price[1]) / len(df[(df['Transaction Type'] == 'Original Title') | (df['Transaction Type'] == 'Transfer Title')])

0.7856270033825066

### 'Odometer Reading' and 'Odometer Code' column
The 'Odometer reading' column has a odd looking summmary statistics, while the quantiles looks off. 
Therefore we look into it by taking a value_counts() where we find that over 400 k records has a odometer reading of 0, and these records should therefore be sorted out if it is seized to use them. When we look into the Odometer code column, we find that we can use the 'Odometer Code' = 'Acutal Mileage' since only 5/206974 has a zero 'Odometer Reading'.

In [67]:
df['Odometer Reading'].describe()

count    633874.000000
mean       2989.021687
std       11747.381800
min           0.000000
25%           0.000000
50%           0.000000
75%          15.000000
max      962619.000000
Name: Odometer Reading, dtype: float64

In [68]:
df['Odometer Reading'].value_counts()

0         426702
15         32985
50         25144
10          7782
5           4384
           ...
39132          1
96480          1
86245          1
114935         1
2047           1
Name: Odometer Reading, Length: 37706, dtype: int64

In [69]:
df['Odometer Code'].value_counts()

Odometer reading is not collected at time of renewal       402246
Actual Mileage                                             206979
No Odometer Code on File                                    24228
Exempt - Over 10 years old, non-powered, or by use type       236
Not actual mileage                                            159
Exceeds mechanical limits                                      26
Name: Odometer Code, dtype: int64

In [70]:
number_of_actual_milage_observations = len(df[df['Odometer Code'] == 'Actual Mileage'])
zero_actual_milage_observations = len(df[(df['Odometer Code'] == 'Actual Mileage') & (df['Odometer Reading'] == 0)])

In [71]:
print(f"There is only {zero_actual_milage_observations}/{number_of_actual_milage_observations} cars which has the 'Actual Mileage' value that also has a zero value in the Odometer Reading")

There is only 5/206979 cars which has the 'Actual Mileage' value that also has a zero value in the Odometer Reading

In [72]:
# All Transactions Type values can have a non-zero Odometer reading.
df[df['Odometer Reading'] != 0.0]['Transaction Type'].value_counts()

Original Title                      136103
Transfer Title                       32780
Original Registration                24431
Registration Renewal                 10661
Registration at time of Transfer      3197
Name: Transaction Type, dtype: int64

### 'Vehicle Primary Use' column
We find that almost all of the records has the 'Passenger' value.

In [73]:
df['Vehicle Primary Use'].value_counts()

Passenger                             627132
Exempt (State/County/Local/Tribal)      3018
Truck                                   1761
Commercial                              1717
For Hire                                 173
Medium-Speed Electric Vehicle             35
Neighborhood Electric Vehicle             12
Cab                                        9
Farm Use                                   5
Private School                             5
Taxi Cab                                   3
Medium-Speed Electric Truck                2
Farm Exempt                                2
Name: Vehicle Primary Use, dtype: int64

In [74]:
len(df.query("`Vehicle Primary Use` in ('Passenger', 'Truck')"))/len(df)

0.9921419714328085

Passengers and trucks account for 99% of the dataset

### 'Electric Range' column
By looking at the 'Electric Range' column we find that almost 100 k records does not have an eletric range. One of the  reason for this evidently seems to relate to the 'Model Year' column. Here it is found that some of the new models from 2020 > does not have Electric Range. This is important to note when dealing with the data later in Tableau.

In [75]:
len(df[df['Electric Range'] == 0])

99595

In [76]:
df[df['Electric Range'] != 0]['Transaction Type'].value_counts()

Registration Renewal                279766
Original Registration                97197
Original Title                       95761
Transfer Title                       31723
Registration at time of Transfer     29832
Name: Transaction Type, dtype: int64

In [77]:
df[df['Electric Range'] == 0]['Model Year'].value_counts()

2022    49137
2021    46598
2023     3635
2020      212
2019       10
2015        2
2016        1
Name: Model Year, dtype: int64

### Check for nan values
There is a check for nan values.

In [78]:
assert(len(df[df['Sale Price'].isna()]) == 0)
assert(len(df[df['Electric Range'].isna()]) == 0)
assert(len(df[df['Odometer Reading'].isna()]) == 0)

### 'Sale Date' column
Here we find a lot of nan values, and we will therefore further investigate the date columns in the next section.

In [79]:
len(df[df['Sale Date'].isna()])

442801

# 2) Clean data

#### (2.1 Filtering data

The Electric_Vehicle_Population_Size_History_By_County.csv dataset only contains passenger and truck types, so we are only going to use these. Also limiting to WA and observations regarding a transaction

In [81]:
df = df.query("`Vehicle Primary Use` in ('Passenger', 'Truck') & `State of Residence` == 'WA' & `Transaction Type` in ('Original Title', 'Transfer Title') & `Sale Price` != 0")

#### (2.2 Dropping columns

In [83]:
drop = ['Clean Alternative Fuel Vehicle Type', 'Odometer Reading', 'Odometer Code', 'State of Residence',
    'Vehicle Primary Use', 'VIN (1-10)', 'Transaction Year', 'Electric Range', '2015 HB 2778 Exemption Eligibility', 
    '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility',
    'Meets 2019 HB 2042 Electric Range Requirement','Meets 2019 HB 2042 Sale Price/Value Requirement',
    'Meets 2019 HB 2042 Sale Date Requirement', 'Transportation Electrification Fee Paid', 
    'Hybrid Vehicle Electrification Fee Paid', '2020 Census Tract', 'Base MSRP',
    'Electric Utility', 'Legislative District', 'Electric Vehicle Fee Paid']

df = df.drop(drop, axis='columns')

In [84]:
df.columns

Index(['Model Year', 'Make', 'Model', 'New or Used Vehicle', 'Sale Price',
       'DOL Transaction Date', 'Transaction Type', 'County', 'City',
       'Postal Code', 'Sale Date', 'DOL Vehicle ID'],
      dtype='object')

#### (2.3 Altering string columns
'City' column to proper case, 'Make' column to upper case

In [86]:
df['City'] = df['City'].str.title()

In [87]:
df['Make'] = df['Make'].str.upper()

#### (2.4 Changing dtypes

In [88]:
df.dtypes

Model Year                int64
Make                     object
Model                    object
New or Used Vehicle      object
Sale Price                int64
DOL Transaction Date     object
Transaction Type         object
County                   object
City                     object
Postal Code             float64
Sale Date                object
DOL Vehicle ID            int64
dtype: object

#### Change dtype format for date columns
We see that column with index 5 and 10 contains 'Date' in its name, and we will therefore look at these dates.


The reason we want to change the dtype of the columns is because the current dtypes are object, and it will therefore be smarter to change it to a date format, so we can be sure that data is consistent when it has to be plotted in Tableau.

In [89]:
pd.Series(df.columns).str.contains('Date')[pd.Series(df.columns).str.contains('Date')]

5     True
10    True
dtype: bool

In [90]:
print('These are the columns we will be looking at:')
print(f'{df[df.columns[5]].name} and {df[df.columns[10]].name}')

These are the columns we will be looking at:
DOL Transaction Date and Sale Date

### DOL Transaction Date - column

In [91]:
print(f"Period: {df['DOL Transaction Date'].min()} - {df['DOL Transaction Date'].max()}")

Period: April 01 2017 - September 30 2022

In [92]:
df['DOL Transaction Date'].head(5)

1      October 11 2022
3      October 15 2019
7     February 18 2022
11     October 18 2022
13    February 18 2021
Name: DOL Transaction Date, dtype: object

In [93]:
df['DOL Transaction Date'].value_counts()

October 04 2022     773
April 14 2022       659
October 28 2022     638
July 12 2022        634
February 18 2022    633
                   ...
July 20 2019          1
February 24 2018      1
December 02 2017      1
May 16 2020           1
October 28 2017       1
Name: DOL Transaction Date, Length: 1787, dtype: int64

In [94]:
# check for nan values:
assert(len(df[df['DOL Transaction Date'].isna()]) == 0)

### Change of dtype - DOL Transaction Date
We see that the column has no nan values, and we therefore try to change the dtypes with a pandas function. 
Here we find by looking at the new 'DOL Transaction Date' column (next code cell) that the dtype conversion will work. We therefore overwrite the existing dtype with the datetime64[ns] dtype

source used: (Pandas.to_datetime — Pandas 1.5.2 Documentation, n.d.)
The source is used to change the dtype of the column below.

In [95]:
pd.to_datetime(df['DOL Transaction Date']).head(10)

1    2022-10-11
3    2019-10-15
7    2022-02-18
11   2022-10-18
13   2021-02-18
16   2017-01-18
18   2022-01-11
20   2020-12-23
23   2021-06-15
28   2021-10-25
Name: DOL Transaction Date, dtype: datetime64[ns]

In [96]:
# Checking that the code result above have the same result as the code result in the next cell.
df['DOL Transaction Date'].head(10)

1      October 11 2022
3      October 15 2019
7     February 18 2022
11     October 18 2022
13    February 18 2021
16     January 18 2017
18     January 11 2022
20    December 23 2020
23        June 15 2021
28     October 25 2021
Name: DOL Transaction Date, dtype: object

In [97]:
# changing dtype
df['DOL Transaction Date'] = pd.to_datetime(df['DOL Transaction Date'])

In [98]:
pd.DatetimeIndex(df['DOL Transaction Date']).year.value_counts()

2022    35217
2021    29591
2019    18866
2020    17908
2018    17356
2017    11706
2016      517
Name: DOL Transaction Date, dtype: int64

### Change of dtype - 'Sale Date'
With the Sale Date column we find that it contains nan values. The to_datetime() function however takes care of the transformation, and no further cleaning should therefore be considered.

Because the column contains nan values it is especially important to change the dtype of this column. The reason is that some of the column values will be a float type (nan) and others will be str (fx "September 09 2022"). Therefore we want to change the dtype to get more concise data.

In [99]:
df['Sale Date'].head(5)

1     September 09 2022
3     September 21 2019
7       January 26 2022
11    September 16 2022
13      January 30 2021
Name: Sale Date, dtype: object

In [100]:
# check for nan values:
len(df[df['Sale Date'].isna()])

0

In [101]:
df[df['Sale Date'].notna()]['Transaction Type'].value_counts()

Original Title    105850
Transfer Title     25311
Name: Transaction Type, dtype: int64

In [102]:
df[df['Sale Date'].isna()]['Transaction Type'].value_counts()

Series([], Name: Transaction Type, dtype: int64)

### Illustration of 'Sale Data' - after conversion to datetime

In [103]:
df['Sale Date'] = pd.to_datetime(df['Sale Date'])
pd.to_datetime(df['Sale Date']).head(10)

1    2022-09-09
3    2019-09-21
7    2022-01-26
11   2022-09-16
13   2021-01-30
16   2016-12-18
18   2021-12-11
20   2020-12-04
23   2021-05-23
28   2021-09-25
Name: Sale Date, dtype: datetime64[ns]

#### (2.5 Sorting data
Sorting by Vehicle DOL ID and Transaction date

In [104]:
df = df.sort_values(['DOL Vehicle ID', 'DOL Transaction Date'], ascending=[True, True])

#### Missing values in whole dataset

In [105]:
df.isna().sum()

Model Year               0
Make                     0
Model                   20
New or Used Vehicle      0
Sale Price               0
DOL Transaction Date     0
Transaction Type         0
County                   0
City                     2
Postal Code              2
Sale Date                0
DOL Vehicle ID           0
dtype: int64

#### (2.6 Adding new columns
- Country Manufacturer data
- americanOrForeign

In [109]:
manufacturerCountry = pd.read_excel('data/in/manufacturerCountry.xlsx')
manufacturerCountry = manufacturerCountry.drop_duplicates()
manufacturerCountry['Make'] = manufacturerCountry['Make'].str.upper()

In [110]:
df2 = pd.merge(df,
                manufacturerCountry,
                on='Make', how='left')

In [111]:
# checking for nan values after join
df2[df2['manufacturerCountry'].isna()]['Make'].value_counts()

LUCID MOTORS      66
FISKER            18
GENESIS           15
AZURE DYNAMICS     3
TH!NK              3
Name: Make, dtype: int64

In [112]:
# adding missing countries
df2.loc[df2['Make']=="LUCID MOTORS", "manufacturerCountry"] = 'United States'
df2.loc[df2['Make']=="FISKER", "manufacturerCountry"] = 'United States'
df2.loc[df2['Make']=="GENESIS", "manufacturerCountry"] = 'South Korea'
df2.loc[df2['Make']=="AZURE DYNAMICS", "manufacturerCountry"] = 'United States'
df2.loc[df2['Make']=="TH!NK", "manufacturerCountry"] = 'Norway'

In [113]:
df2['americanOrForeign'] = np.where(df2['manufacturerCountry'] == 'United States', 'American', 'Foreign')
df2['americanOrForeign'].value_counts()

American    79798
Foreign     51363
Name: americanOrForeign, dtype: int64

In [114]:
df2.head(5)

,Model Year,Make,Model,New or Used Vehicle,Sale Price,DOL Transaction Date,Transaction Type,County,City,Postal Code,Sale Date,DOL Vehicle ID,manufacturerCountry,americanOrForeign
0,2018,CHEVROLET,Volt,New,36456,2018-06-08,Original Title,Jefferson,Port Townsend,98368.0,2018-05-25,4469,United States,American
1,2017,BMW,i3,New,44941,2017-05-25,Original Title,Clark,Vancouver,98684.0,2017-05-16,7493,Germany,Foreign
2,2014,CHEVROLET,Volt,Used,10950,2020-07-31,Transfer Title,Chelan,Leavenworth,98826.0,2020-07-31,12050,United States,American
3,2018,KIA,Soul EV,New,22767,2018-05-23,Original Title,Kitsap,Bainbridge Island,98110.0,2018-05-07,15669,South Korea,Foreign
4,2016,TESLA,Model X,Used,63700,2020-01-22,Transfer Title,King,Seattle,98117.0,2020-01-11,23145,United States,American

# Export

In [115]:
df2.to_csv('data/out/titleAndRegistration.csv', index=False)